

 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> 様 の予約を確定しました。</h1>
    <p>・ご予約内容</p>
    
  </body>
</html>