<h1>Editing Post Category Relation</h1>

<%= render 'form', post_category_relation: @post_category_relation %>

<%= link_to 'Show', @post_category_relation %> |
<%= link_to 'Back', post_category_relations_path %>
