<!DOCTYPE html>
<html lang="en">
  <body style="padding-top: 72px;">

    <div class="progress rounded-0 sticky-top" style="height: 8px; top: 72px;">
      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <section class="py-5 py-lg-7">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <p class="subtitle text-primary">Re I beauty</p>
            <h1 class="h2 mb-5">ビューティシャン登録</h1>

              <div class="text-content">
                <h3>1. ビューティシャンとして登録</h3>
                <p>ビューティシャン登録は、 <a href="/">Re I beauty</a>で訪問施術を行うビューティシャンユーザーとして登録します。</p>
                <p>ビューティシャン登録完了後、あなたが提供する施術メニューを登録し、ユーザーに対して訪問施術を提供可能になります。</p>

                <h3>2. 面接を実施</h3>
                  <p>Re I beautyでは、ユーザーの皆様に安心してサービスをお使い頂けるよう、ビューティシャンとして登録頂く際に面接をお願いしています。</p>
                  <p>面接はリモートで実施可能で、本仮登録が完了後スケジュールをご調整頂いた上、面接実施日時を決定頂きます。</p>

                <h3>3. ビューティシャン登録完了</h3>
                <p>面接の完了後、登録可能と判断された場合、ビューティシャンユーザーとしての登録が完了します。</p>
                <p>提供メニューを登録し、Re I beautyをご活用ください。</p>
              </div>
              
            <p class="mb-5 mb-lg-0"> <%= link_to "ビューティシャンとして登録", new_business_user_registration_path, class: 'btn btn-primary text-secondary', data: {"turbolinks" => false} %></p>
          </div>
          
          <div class="col-lg-5 ms-auto d-flex align-items-center"><%= image_pack_tag "media/images/illustration/undraw_Social_bio_re_0t9u.svg", class: "img-fluid", alt: "", style: "width: 400px;" %>
        </div>
      </div>
    </section>

    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- jQuery-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Smooth scroll-->
    <script src="vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <!-- Bootstrap Select-->
    <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="vendor/object-fit-images/ofi.min.js"></script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script src="js/theme.js"></script>
  </body>
</html>