<!DOCTYPE html>
<html lang="ja">

  <body style="padding-top: 72px;">

    <!-- Hero Section-->
    <section class="hero py-6 py-lg-7 text-white dark-overlay"><img class="bg-image" src="img/photo/photo-1467987506553-8f3916508521.jpg" alt="Text page">
      <div class="container overlay-content">
        <!-- Breadcrumbs -->

        <h1 class="hero-heading">【重要】新型コロナウイルス感染についてのRe I beauty利用方針</h1>
      </div>
    </section>
    <section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">           
            <p class="lead mb-5">いつもRe I beautyをご利用いただき、ありがとうございます。<br>
            <br>
            現在首都圏を中心に新型コロナ感染者が増加している状況ですが、引き続きお困りのお客様にRe I beautyのサービスをお届けできるよう、Re I beautyのご利用方法について改めてご案内をさせていただきます。<br>
            <br>
            以下に、Re I beautyでユーザー様・サポーター様双方にお願いしております
            安全対策 (https://kidsline.me/information/prevention) に加え、
            万が一、ご自身または身近にいらっしゃる方が感染した場合もしくは濃厚接触者ほか感染可能性が疑われる場合の、Re I beauty利用方針を記載させていただきます。<br>

            ※このご案内はユーザー様・サポーター様の双方に同一のご案内をさせていただいております。</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5" src="img/photo/photo-1471189641895-16c58a695bcb.jpg" alt=""></div>
        </div>
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">                               
            <div class="text-content">

              <h2>■Re I beautyの安全対策について</h2>
              <p>Re I beautyの新型コロナウイルス感染防止対策については以下の通りです。安全対策に則りご利用いただきますようお願いいたします。</p>
              
              <blockquote class="blockquote blockquote-primary bg-gray-100 p-5">
              <p>▼Re I beautyの感染予防対策・安全基準</p>
                <p>https://kidsline.me/information/prevention</p>
                <p>▼ユーザー様用ページ</p>
                <p>https://kidsline.me/information/notice2002</p>
                <p>▼ビューティシャン様用ページ</p>
                <p>https://kidsline.me/information/notice2002
              </blockquote>

              <h2>新型コロナウィルス感染についての利用方針</h2>
              <h3>１.ご自身やお子様、同居人やご家族が「濃厚接触者」となった場合</h3>

              <p>Re I beautyサービスのご利用を一時的にお控えいただきますお願いよういたします。<br>
また利用の再開にあたりましては、保健所等の指示に従っていただきますようお願いいたします。<br>
また濃厚接触者と判定される前に、勤務先や同じマンション等の近しい方が新型コロナウイルスに罹患した事が判明した場合は、サービスのご利用は可能な範囲でお控えいただくか、サポートのご予定がある場合は、感染拡大防止の為、必ず双方で状況の事前報告をお願いいたします。</p>


              <h3>2.ご自身やお子様、同居人やご家族が、「PCR検査」を受けている場合</h3>
              <p>検査結果が出るまではサービスのご利用をお控えいただきようお願いいたします。<br>
確定しているサポートが直近に迫っている場合(48時間以内の予約)は、必ず双方で事前報告をお願い致します。また、48時間以内に予約をキャンセルする場合は、PCR検査を受けている方がキャンセル対応をお願い致します。

              <h3>３.ご自身やお子様、同居人やご家族が「新型コロナウイルス感染の陽性判定が出た」場合</h3>
              <p>ご自身やお子様、同居人やご家族が「新型コロナウイルス感染の陽性判定」が出て、48時間以内のご予約がある場合は、ユーザー様のキャンセル料のRe I beauty手数料は免除されます。サポート後に陽性判定が分かった場合、双方への連絡については、保健所の指示に従いご対応をお願いします。<br>
なお陽性判定後、陰性と確認されるまでは、サービスのご利用をお控えいただきますようお願いいたします。</p>
              
              <blockquote class="blockquote blockquote-primary bg-gray-100 p-5">
              <p>▼新型コロナウイルス専用申請フォーム</p>
                <p>https://kidsline.me/information/shingata_form</p>
                <p>※陽性者の方のみこちらからご申請ください。</p>
              </blockquote>

              <h3>※キャンセル方法については以下よりご確認下さい</h3>
              <blockquote class="blockquote blockquote-primary bg-gray-100 p-5">
                <p>▼ユーザー様用ページ</p>
                <p>https://kidsline.me/help/center_detail/sicksupport_reserve_covid-19</p>
                
                <p>▼サポーター様用ページ</p>
                <p>https://kidsline.me/help/center_detail/sick_reserve_covid-19</p>
                <p>※サポーターアカウントをお持ちの方だけご確認をいただけます。</p>
              </blockquote>

              <h3>■Re I beauty新型コロナウイルスへの対応方針について</h3>
              <p>感染拡大防止対策については、厚生労働省の発表や情勢を確認しながら随時ご案内いたします。今後も運営からのお知らせをご確認くださいますようお願い申し上げます。</p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->

    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>

    <!-- Main Theme JS file    -->
    <script src="js/theme.js"></script>
  </body>
</html>