<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>

  </head>

  <body style="padding-top: 72px;">

    
    <!-- Hero Section-->
    <section class="hero py-5 py-lg-7">
      <div class="container position-relative">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb ps-0  justify-content-center">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">ビューティシャン向け                         </li>
        </ol>
        <h1 class="hero-heading">よくある質問</h1>
        <div class="row">
          <div class="col-xl-8 mx-auto"><p class="text-muted">ビューティシャンユーザーのみなさま向けにRe I beautyのご利用方法に関するよくある質問をまとめました。</p></div>
        </div>
      </div>
    </section>
    <!-- FAQ-->
    <section class="py-6">
      <div class="container">
        <div class="py-4">
          <h2 class="mb-5 text-primary">アカウントについて</h2>
          <div class="row">
            <div class="col-md-6">
              <h5>ビューティシャンとしてサービスを提供するにはどうしたら良いですか？</h5>
              <p class="text-muted mb-4">Re I beautyビューティシャン登録が必要です。下記より面接申請を行ってください。</p>
              <h6 class="text-muted mb-4">登録時に必要なもの</h6>
              <p class="text-muted mb-4">ご本人確認書類として以下の写真画像が必要となります。<br>
              登録するご本人様の本人確認書類の「おもて面」と「うら面」<br>
              (運転免許証、健康保険証、住民基本台帳カードなど)<br>
              以下利用できるご本人確認書類一覧<br>
              <br>
              ※ 有効期限にご注意ください<br>
              <br>
              <li>運転免許証（裏面に手書きで住所を記載→NG）</li>
              <li>健康保険証（裏面に手書きで住所を記載→OK）</li>
              <li>マイナンバーカード（個人番号が見えないようにマスキングしてくだい）</li>
              <li>住基カード</li>
              <li>住民票の写し(発行から3ヶ月以内のもの)</li>
              <li>パスポート</li><br>
              ※尚、ヘアメイク、メイク部門でのビューティシャン希望の場合は美容師国家資格が必要となります。
              </p>

              <h5>個人情報の公開範囲</h5>
              <p class="text-muted mb-4">Re I beautyのプロフィールページを自由に編集することができます。<br>
              <br>
              以下登録必須項目<br>
              ※公開はされないものも含みます。<br>
              （名前、住所、性別、電話番号、メールアドレス、身分証登録、施術業種、メニュー登録、プロフィール自由入力欄）<br>
              <br>
              以下公開必須欄<br>
              （名前、性別、資格、経歴、施術可能エリア、施術可能時間、施術メニュー、プロフィール自由入力欄等）<br>
              <br>
              このように皆様の個人情報の公開に制限をかけています。<br>
              利用者様が不安なく予約するための公開情報や登録必須情報は変更が難しいことをご了承ください。
              </p>

              <h5>退会について</h5>
              <p class="text-muted mb-4">マイページ内の退会手続きのリンクより申請し、手続きをお願いします。<br>
              決済完了前のご予約を抱えている場合は退会ができません。事前にキャンセル手続きを行ってください。
              </p>
            
            </div>

            <div class="col-md-6">
              <h5>プロフィール変更について</h5>
              <p class="text-muted mb-4">引越しなどで住所を変更される場合は必ず手続きをお願い致します。その際、変更時に住所の確認がとれる本人確認書類が必要となりますのでよろしくお願い致します。<br>
              ※画像をご準備ください。<br>
              <br>
              <li>運転免許証（裏面に手書きで住所を記載→NG）</li>
              <li>健康保険証（裏面に手書きで住所を記載→OK）</li>
              <li>マイナンバーカード（個人番号が見えないようにマスキングしてくだい）</li>
              <li>住基カード</li>
              <li>住民票の写し(発行から3ヶ月以内のもの)</li>
              <li>パスポート</li>
              <br>
              ビューティシャン登録後の住所変更はマイページからも可能です。<br>
              ※利用者様の検索・予約に必要な情報ですので住所変更がありましたら速やかに登録ページの変更をお願いいたします。<br>
              <br>
              その他のプロフィールの編集についてはビューティシャンマイページにログイン後可能となります。<br>
              </p>
              
              <h5>施術者の料金設定について</h5>
              <p class="text-muted mb-4">メニュー料金設定については各ビューティシャンで異なります。（自由に設定が可能です。）<br>
              Re I beautyでは訪問料と称して1件の訪問につき一律1000円を利用者に頂いています。<br>
              詳細は利用規約をご覧下さい。
              </p>
            
              <h5>Re I beautyからメールが届かない場合</h5>
              <p class="text-muted mb-4">迷惑メールフォルダに届いている場合もございますので、ご確認ください。<br>
              <br>
              info@reibeauty.life
              <br>
              上記のドメイン解除・受信設定を行ってください。<br>
              ※携帯会社やご使用の機種により、設定方法は異なります。詳しくはお問い合わせください。
              </p>

              <h5>メールアドレスを変更したい</h5>
              <p class="text-muted mb-4">マイページ内のメールアドレスの変更リンクより申請し、変更をお願いします。
              </p>

              <h5>パスワードを変更したい</h5>
              <p class="text-muted mb-4">マイページ内のパスワードの変更リンクより申請し、変更をお願いします。
              </p>

              <h5>緊急連絡先について</h5>
              <p class="text-muted mb-4">Re I beautyのサービスにおいて施術中に万が一の事故が発生された場合、弊社はまずビューティシャンのご登録ご本人に連絡致します。その際電話が繋がらない場合などに、緊急連絡先に連絡致しますので、緊急連絡先にはビューティシャンご本人以外の方をご登録ください。<br>
              ※ご家族、ご親戚、ご友人、同僚などが対象となります。
              </p>

            </div>
          </div>
        </div>

        <hr>
        <div class="py-4">
          <h2 class="mb-5 text-primary">予約について</h2>
          <div class="row">
            <div class="col-md-6">
              <h5>施術登録申請から登録後の予約受付までの流れ</h5>
              <p class="text-muted mb-4">下記リンクをお読みください。<br>
              ※あくまで滞りなく面接が行われた場合の目安日数となります。</p>

              <h5>予約申請の返信</h5>
              <p class="text-muted mb-4">Re I beautyのシステムは、予約申請＝予約確定となります。確実に予約が受諾できる日時の設定をくれぐれも宜しくお願い致します。</p>

              <h5>施術者と利用者の連絡ツール</h5>
              <p class="text-muted mb-4">やり取りはすべてホームページ内のチャット機能を利用するようによろしくお願いします。<br>
              SNSのDM機能やLINEのやりとりは禁止行為となります。ご注意ください。</p>

              <h5>利用者と連絡がとれない</h5>
              <p class="text-muted mb-4">弊社からの自動送信メールで利用者ビューティシャン双方にご連絡致しますが、細かいやりとりやチャット上の連絡が完全に途絶えてしまった場合は予約が無くなる可能性があります。<br>
              キャンセルについて<br>
              万が一に備えて事前のやり取りを綿密にしていただき、予約を実施してください。<br>
              <br>
              カスタマーセンター<br>
              info@reibeauty.life
              </p>

              <h5>予約内容の変更について</h5>
              <p class="text-muted mb-4">ビューティシャン様に次の予約が無い場合、利用者様のマイページ＞予約内容の変更より変更が可能です。<br>
              ビューティシャンと利用者間の合意の上で変更をよろしくお願いします。<br>
              <br>
              ※オプションメニュー、延長メニューにも手数料が発生致します。
              </p>

            </div>

            <div class="col-md-6">
              <h5>予約をキャンセルしたい</h5>
              <p class="text-muted mb-4">マイページよりキャンセル手続き可能です。詳細は下記のキャンセルについての項目をご参照ください。</p>

              <h5>間違えて受諾した予約をキャンセルしてしまった</h5>
              <p class="text-muted mb-4">一度キャンセル処理を行ってしまったご予約を復活させるのは難しいです。利用者と御相談の上で再度予約を成立させてください。</p>

              <h5>お支払い方法について</h5>
              <p class="text-muted mb-4">利用者様からのお支払いは原則キャッシュレス決済となっております。<br>
              尚、当社からビューティシャン様への施術料の支払いは<br>
              <br>
              〈支払日〉<br>
              15日と月末<br>
              1〜15日（16日払い）土日の場合、翌営業日<br>
              15日〜月末最終日（月末最終日払い）の合算<br>
              〈支払い方法〉<br>
              銀行振り込み<br>
              <br>
              ※マイページより振込先の登録をお願いします。<br>
              対応カード：Visa , Mastercard , American Express , JCB、Diners Club、Discoverの6ブランドに対応しています。
              </p>

              <h5>Re I beautyを介さず予約を受けたい</h5>
              <p class="text-muted mb-4">Re I beautyでは、弊社システムを通して出会った利用者とビューティシャンが直接予約をとり契約をすることをかたく禁止しております。<br>
              <br>
              詳細は下記ページをご参照ください。</p>

              <h5>トラブルについて</h5>
              <p class="text-muted mb-4">双方のサービスにおけるルールとマナーは下記のページをご参照ください。<br>
              施術中に生じたトラブルに関しては当社では責任を負いかねますので各自管理をお願いいたします。</p>

              <h5>利用者になる</h5>
              <p class="text-muted mb-4">ビューティシャンをしながら利用者として登録することも可能となっております。<br>
              登録の仕方は以下をご参照ください。<br>
              ご利用の流れ (利用者様)<br>
              利用登録<br>
              ユーザー(利用者)とビューテァシャン(施術者)双方のアカウントを取得することは可能となっております。</p>
              
              <h5>お問い合わせ</h5>
              <p class="text-muted mb-4">よくある質問を読んでも解決に至らない場合はカスタマーセンターにお問い合わせください。</p>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>
  </body>
</html>