<!DOCTYPE html>
<html lang="ja">

  <body style="padding-top: 72px;">

    <!-- Hero Section-->
    <section class="hero py-5 py-lg-7">
      <div class="container position-relative">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb ps-0  justify-content-center">
          <li class="breadcrumb-item"><a href="index.html">ホーム</a></li>
          <li class="breadcrumb-item active">利用規約                       </li>
        </ol>
        <h1 class="hero-heading mb-0">利用規約</h1><br>
        <div class="row">
          <div class="col-xl-8 mx-auto"><p class="text-muted">本利用規約(以下「本規約」といいます。)は、株式会社 Re I(以下「当社」といいます。) が提供するウェブサービス「Re I beauty」(以下「本サービス」といいます。)に関する規 律、権利義務関係等を定めるものです。 本サービスのご利用に際しては、本規約の全文をご確認いただき、本規約に同意していただ く必要があります。</p></div>
        </div>
      </div>
    </section>

    <section class="py-6">
      <div class="container">
        <div class="row">   
          <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="text-content">
              <h3>第1章 総則</h3>

              <h6>第1条(本サービスの目的)</h6>
              <p>本サービスは、訪問美容サービスを提供したいと望む会員(施術者会員)と訪問美容サ ービスを利用したいと望む会員(利用者会員)とを結び付けることを目的としています。 本サービスは、会員間で施術契約を(第2条8号)締結するための環境をインターネッ ト上で提供するものであり、いかなる意味においても、当社が会員との間で訪問美容サ ービスに関する委託又は受託をするものではありません。</p>

              <h6>第2条(定義)</h6>
              <p>本規約において使用する用語の定義は、次の各号のとおりとします。
              <ol type="a">
                <li>「本サイト」とは、本サービスの提供を目的として当社が管理・運用しているウェブ サイトの全体を指します(URL:https://reibeauty.life)。</li>
                <li> 「訪問美容サービス」とは、顧客から指定された場所に訪問し、顧客に対して美容に 関する施術を実施するサービスを指します。</li>
                <li> 「登録希望者」とは、本サービスを利用するために必要となるアカウントの取得を希 望する者を指します。</li>
                <li> 「会員登録」とは、当社が登録希望者に対して本サービスを利用するためのアカウン トを付与することを指します。</li>
                <li> 「会員」とは、会員登録を完了した者(当社が本サービスを利用するためのアカウン トを付与した者)を指します。</li>
                <li> 「施術者会員」とは、訪問美容サービスを利用者会員に提供することを目的として会 員となった者(当社が施術者としてのアカウントを付与した者)を指します。</li>
                <li> 「利用者会員」とは、訪問美容サービスを施術者会員から受けることを目的として会 員となった者(当社が利用者としてのアカウントを付与した者)を指します。</li>
                <li> 「会員情報」とは、会員が当社に提供した住所、氏名、生年月日、電話番号、メール アドレスその他一切の情報を指します。</li>
                <li> 「施術契約」とは、特定の日時、場所において、施術者会員が利用者会員に対して訪 問美容サービスを有償で提供することを内容とする契約を指します。</li>
                <li> 「施術料」とは、利用者会員が施術者会員に対し、訪問美容サービスの対価として支 払う料金を指します。</li>
                <li> 「訪問料」とは、利用者会員が施術者会員に対し、施術者会員が指定された場所に訪 問したことの対価として支払う料金を指します。</li>
                <li> 「手数料」とは、利用者会員が当社に対し、本サービスを利用したことの対価として 支払う料金を指します。</li>
                <li> 「退会」とは、会員たる地位の喪失することを指します。</li>
              </ol>
              </p>

              <h6>第3条(本規約の適用)</h6>
              <ol type="1">
                <li> 本規約のうち、当社と会員との間の関係を定める条項は、当社と会員との間の権利義務関係に適用されるものとします。また、本規約のうち、利用者会員と施術者会員との間 の関係を定める条項は、利用者会員と施術者会員との間の権利義務関係(施術契約の契 約条件等)に適用されるものとします。</li>
                <li> 当社が本サイト上で掲載している本サービスに関する全ての説明は、本規約の一部を 構成するものとします。但し、本サイト上で掲載されている内容が本規約の条項に抵触 する場合、本規約の内容が優先的に適用されます。</li>
              </ol>

              <h6>第4条(本規約の変更)</h6>
              <ol type="1">
                <li> 当社は、本規約の全部又は一部について、いつでも変更することができるものとします。</li>
                <li> 前項の変更をした場合、当社は、会員に対し、当社所定の方法で変更内容を通知します。ただし、変更が軽微である場合、この限りではありません。</li>
                <li> 前項の通知を受領した後に会員が本サービスを利用した場合、会員は、本規約の変更に同意したものとみなします。</li>
              </ol>



              <h3>第2章 会員登録等</h3>
              
              <h6>第5条(会員登録の申請)</h6>
              <ol type="1">
                <li>登録希望者は、本サイト上で当社所定の手続を実施することにより、会員登録の申請をすることができます。また、登録希望者は、会員登録の申請をするに際し、正確かつ最新の情報を提供しなければなりません。</li>
                <li>前項の申請は、登録希望者である本人が行うものとし、当社が事前の承諾した場合を除き、代理人が行うことはできません。</li>
              </ol>

              <h6>第6条 (審査の実施)</h6>
              <ol type="1">
                <li>当社は、登録希望者から会員登録の申請を受けた場合、当社所定の審査基準に従って審査を実施します。</li>
                <li>登録希望者が施術者会員となることを希望している場合、当社は、当該登録希望者の技術レベル等を判断するため、面談(オンライン面談を含む。)による審査を実施します。 ただし、当社が面談を不要と判断した場合、この限りではありません。</li>
              </ol>

              <h6>第7条 (会員登録の承認)</h6>
              <ol type="1">
                <li>当社は、登録希望者による会員登録の申請を承諾する場合、登録希望者に対し、ログインID 及びパスワード(以下「ログインID等」といいます。)を発行してアカウントを付与します。これにより、登録希望者は、会員としての地位を取得することになります。</li>
                <li>当社は、登録希望者が次の各号のいずれか一にでも該当すると判断した場合、会員登録 の申請を却下することがあります。また、当社は、会員登録の申請を却下した場合であっても、登録希望者に対し、その理由を開示いたしません。</li>
                <ol type="a">
                  <li>当社の事業と競合する事業を行っている場合</li>
                  <li>過去に当社のサービスを不正に利用していた場合</li>
                  <li>強制退会に該当し得る事情がある場合</li>
                  <li>本規約に違反する恐れがある場合</li>
                  <li>申告内容に虚偽の事実が含まれている場合</li>
                  <li>前各号のほか、会員登録を承諾することが適切ではないと当社が判断した場合</li>
                </ol>
              </ol>

              <h6>第8条 (会員情報)</h6>
              <ol type="1">
                <li>会員は、会員情報の全部又は一部に変更が生じた場合、当社が本サイト上で定める方法に従って、速やかに会員情報の変更手続を行わなければならないものとします。</li>
                <li>当社は、会員から提供された会員情報が最新かつ正確であることを前提として本サー ビスを提供します。会員情報の誤り、虚偽、変更未了等が原因で会に損害が生じた場合であっても、当社は一切の責任を負わないものとします。</li>
              </ol>

              <h6>第9条 (ログイン ID 等の管理)</h6>
              <ol type="1">
                <li>会員は、自らのログイン等を適切に管理し、ログイン ID 等が第三者に漏洩することを防止する措置を適切に講じるものとします。</li>
                <li>会員のログイン ID 等が不正利用されたことよって会員が損害を被った場合、その原因が当社の故意・過失によるものでない限り、当社は、一切の責任を負わないものとしま す。また、不正利用の原因が会員の故意・過失によるものである場合、それによって生 じた当社又は第三者の損害について、会員は、損害賠償の責任を負うものとします。</li>
                <li>会員は、自らのログイン ID 等が漏洩し、若しくは第三者に利用されていること、又は それらの恐れがあることを認知した場合、当社に対し、直ちにその旨を通知するととも に、当社の指示に従うものとします。</li>
              </ol>

              <h6>第10条 (施術契約の成立)</h6>
              <ol type="1">
                <li>利用者会員は、本サイト上で検索を行い、場所、日時、施術内容等を指定したうえで、施術者会員による訪問美容サービスを予約することができます。</li>
                <li>利用者会員が前項に基づく予約をした場合、利用者会員と施術者会員との間では、予約 時に本サイト上に表示される条件(日時、場所、料金、施術内容等)で施術者会員が利 用者会員に対して訪問美容サービスを提供することを内容とする施術契約が成立します。なお、当社は、施術契約の当事者となるものではありません。</li>
              </ol>

              <h6>第11条 (施術料、訪問料、手数料)</h6>
              <ol type="1">
                <li>利用者会員は、施術契約に基づく訪問美容サービスの提供を受けた場合、施術者会員に対し、施術料及び訪問料の支払義務を負うほか、当社に対し、手数料の支払義務を負うものとします。</li>
                <li>前項の施術料、訪問料及び手数料の額は、利用者会員が本サイト上で施術の予約をする際、本サイト上に表示された額とします。</li>
                <li>前項の規定にかかわらず、施術契約の成立後(施術中を含む。)に施術内容等に関する変更があった場合、施術料の額は、利用者会員と施術者会員との間で新たに取り決める ものとします。また、施術料が変更された場合、手数料の額は、変更後の施術料及び訪 問料の合計額の20%相当額(税別)に変更されるものとします。</li>
              </ol>

              <h6>第12条 (支払方法)</h6>
              <p>利用者会員は、施術契約に基づく訪問美容サービスの提供を受けた場合、次の各号に掲 げるいずれかの方法で、施術者会員及び当社に対し、施術料、訪問料及び手数料の合計 額を支払うものとします。なお、第1号の方法による場合、振込手数料又は決済手数料 は利用者の負担とします。</p>
              <ol type="1">
                <li>施術終了後 1 時間以内に、当社指定の預貯金口座に振込送金する方法又は当社指定 の電子決済サービスを利用する方法</li>
                <li>施術終了時に、施術者会員に現金を交付する方法</li>
              </ol>

              <h6>第13条 (キャンセル手続)</h6>
              <ol type="1">
                <li>施術契約の成立後であっても、利用者会員及び施術者会員は、本サイト上で当社所定の手続を実施することにより、施術契約のキャンセル手続(施術契約の解除)をすることができます。</li>
                <li>前項のキャンセル手続がなされた場合、当社は、施術契約の相手方である会員に対し、当該会員の会員情報として登録されているメールアドレス宛に電子メールを送信する 方法により、キャンセルの通知を行います。</li>
              </ol>

              <h6>第14条 (キャンセル料)</h6>
              <ol type="1">
                <li>利用者会員が前条1項に基づきキャンセル手続をした場合、利用者会員は、施術者会員 に対し、次の各号に定められたキャンセル料を支払うものとします。</li>
                <br>
                <ol type="a">
                  <li>施術実施日の前日午後8時前にキャンセル手続が行われた場合 キャンセル料 0円</li>
                  <li>施術実施日の前日午後8時以降にキャンセル手続が行われた場合 キャンセル料 施術料及び訪問料の合計額の10%相当額(税別)</li>
                </ol>
                <li>前項のキャンセル料が発生した場合、利用者会員は、キャンセル手続後銀行の翌営業日 以内に、原則当社指定の電子決済サービスを利用する方法によってキャンセル料を支 払うものとします。但し、振込手数料は利用者会員の負担とします。</li>
                <li>利用者会員によるキャンセルの理由が、地震、噴火、洪水、津波等の天災によるもので あり、当該利用者会員が予約どおりに施術を受けることが客観的に不可能であると判 断される場合、当該利用者会員は、キャンセル料の支払義務を免除されるものとします。</li>
              </ol>

              <h6>第15条 (無断キャンセル)</h6>
              <ol type="1">
                <li>次の各号のいずれかに該当する場合、施術者会員は、利用者会員に対し、施術契約に基づく訪問美容サービスを提供したものとみなします。</li>
                <br>
                <ol type="a">
                  <li>施術者会員が利用者会員から指定された施術場所に訪問したにもかかわらず、利用者会員が応答しなかった場合</li>
                  <li>施術者会員が利用者会員から指定された施術場所に訪問したにもかかわらず、利用者会員が施術者会員による訪問美容サービスの提供を拒否した場合</li>
                  <li>次条第2項の規定に基づき、施術者会員が訪問美容サービスの提供を中止した場合 (4) 前各号のほか、利用者会員の責に帰すべき事由により、施術者会員が訪問美容サービスを提供できなかった場合</li>
                </ol>
                <li>前項に基づき訪問美容サービスが提供されたとみなされた場合であっても、利用者会員は、第12条の規定に従って、施術者会員及び当社に対し、施術料、訪問料及び手数 料の合計額を支払うものとします。</li>
              </ol>

              <h6>第16条 (施術の環境)</h6>
              <ol type="1">
                <li>利用者会員は、施術契約に基づく訪問美容サービスの提供を受ける場合、施術場所を安全かつ衛生的な環境にしておかなければならないものとします。</li>
                <li>施術者会員は、施術場所が前項の環境にないと社会通念に従って判断される場合、施術契約に基づく訪問美容サービスの提供を中止することができるものとします。</li>
              </ol>

              <h6>第17条 (代理受領)</h6>
              <ol type="1">
                <li>本規約において、施術者会員が利用者会員から受領すべき金銭(施術料、訪問料、キャンセル料)の受取人が当社となっている場合、当社は、施術者会員のために、当該金銭を代理受領するものとします。</li>
                <li>本規約において、当社が利用者会員から受領すべき金銭(手数料)の受取人が施術者会 員となっている場合、施術者会員は、当社のために、当該金銭を代理受領するものとします。</li>
              </ol>

              <h6>第18条 (代理受領金の精算)</h6>
              <ol type="1">
                <li>当社が施術料、訪問料又はキャンセル料を代理受領した場合、当社は、施術者会員に対し、次の各号に定められた期限までに返金するものとします。また、返金の方法は、施 術者会員の会員情報として登録されている預貯金口座に振込送金する方法とし、振込手数料は施術者会員の負担となります。</li>
                <br>
                <ol type="a">
                  <li>当月1日から当月15日までに代理受領した場合 当月末日まで(最終日が金融機関の休業日の場合は翌営業日まで)</li>
                  <li>当月16日以降から当月末日までに代理受領した場合 翌月15日まで(最終日が金融機関の休業日の場合は翌営業日まで)</li>
                  <li>次条第2項の規定に基づき、施術者会員が訪問美容サービスの提供を中止した場合 (4) 前各号のほか、利用者会員の責に帰すべき事由により、施術者会員が訪問美容サービスを提供できなかった場合</li>
                </ol>
                <li>施術者会員が手数料を代理受領した場合、施術者会員は、当社に対し、代理受領日から 2日以内(最終日が金融機関の休業日の場合は翌営業日)に、当社指定の預貯金口座に 振込送金する方法又は当社指定の電子決済サービスを利用する方法により、返金をするものとします。但し、振込手数料又は決済手数料は当社の負担とします。</li>
                <li>施術者会員が前項の返金を怠った場合、施術者会員は、当社に対し、返金期限日の翌日 から支払い済みまで年14.6%の割合による遅延損害金を支払うものとします。また、当社が第1項の返金を怠った場合についても、同様とします。</li>
              </ol>
              
              <h6>第19条 (報告義務等)</h6>
              <p>施術者会員は、施術終了後24時間以内に、本サイト上で当社所定の事項を正確に報告 しなければならないものとします。</p>



              <h3 id="intellectual-property">第4章 禁止行為</h3>

              <h6>第20条 (一般的禁止行為)</h6>
              <p>会員は、本サービスの利用にあたり、次の各号に掲げる行為をしてはならないものとします。</p>
              <ol type="a">
                <li>他者の生命、身体、財産、プライバシー、名誉その他の権利又は法律上保護される利 益を侵害し、又は侵害するおそれのある行為</li>
                <li>当社が本サービスを提供している目的とは異なる目的で本サービスを利用する行為</li>
                <li>本規約の条項に違反する行使</li>
                <li>虚偽の情報を用いて会員登録をする行為</li>
                <li>複数のメールアドレス等を用いて重複して会員登録をする行為</li>
                <li>自らのログイン ID 等を他者に使用させ、又は他者のログイン ID 等を使用する行為</li>
                <li>当社のサーバその他の設備に無権限でアクセスする行為</li>
                <li>当社による業務の遂行を妨害し、又はその恐れのある行為</li>
                <li>当社の名誉若しくは信用を侵害し、又はその恐れのある行為</li>
                <li>美容師法、理容師法、医師法、景品表示法、著作権法その他一切の法令に違反する行為</li>
                <li>他の会員に対して自らの連絡先を提供し、又は他の会員から連絡先の提供を受ける行為</li>
                <li>本サービスを通じて施術契約が成立した他の会員に対し、本サービスを介在させずに訪問美容サービスを提供し、又はその提供を求める行為</li>
                <li>前各号のほか、社会通念に照らして不適切だと評価される一切の行為</li>
              </ol>

              <h6>第21条 (訪問美容サービスの提供時における禁止行為)</h6>
              <p>会員は、施術契約に基づく訪問美容サービスの提供時において、次の各号に掲げる行為をしてはならないものとします。</p>
              <ol type="a">
                <li>相手方の会員に対し、電話番号、メールアドレスその他の連絡先を聞く行為、又は自らの連絡先を提供する行為</li>
                <li>相手方の会員に対し、性的なサービス、公序良俗に反するサービス等を求め、又は自ら提供する行為</li>
                <li>相手方の会員に対し、特定の宗教又は思想の啓蒙、勧誘等をする行為</li>
                <li>相手方の会員に対し、暴力、暴言、威圧、強要等をする行為</li>
                <li>相手方の会員に対し、施術契約で定められていない金銭の提供を求め、又は自ら提供する行為</li>
                <li>前各号のほか、社会通念に照らして不適切だと評価される一切の行為</li>
              </ol>


              <h3>第5章 退会</h3>

              <h6>第17条 (代理受領)</h6>
              <ol type="1">
                <li>会員は、本サイト上で当社所定の手続を実施することにより、自らの意思で任意に退会(以下「任意退会」といいます。)することができます。</li>
                <li>会員が任意退会をした場合、既に成立している施術契約に関しては、キャンセル手続がなされたものとして扱われます。</li>
                <li>会員が任意退会をした場合であっても、当該会員が当社又は他の会員に対して既に負担している債務(退会によって発生するキャンセル料を含みます。)は消滅しません。</li>
              </ol>

              <h6>第22条 (強制退会)</h6>
              <ol type="1">
                <li>当社は、会員が次の各号のいずれか一にでも該当すると判断した場合、事前に何らの通知をすることなく、当該会員を強制的に退会(以下「強制退会」といいます。)させることができるものとします。この場合、当社は、当該会員に対し、強制退会となった理由の説明義務を負わないものとします。</li>
                <br>
                <ol type="a">
                  <li>本規約、法令又は公序良俗に違反する行為をした場合</li>
                  <li>表明保証に反する事実が発覚した場合</li>
                  <li>会員情報に虚偽があった場合</li>
                  <li>当社の事業と競合する事業を開始した場合</li>
                  <li>無断キャンセルをした場合</li>
                  <li>キャンセル手続を繰り返した場合</li>
                  <li>施術者会員が当社所定の技術レベルにないと判断した場合</li>
                  <li>前各号のほか、当社が会員として不適切であると判断した場合。</li>
                </ol>
                <li>当社が会員を強制退会にしたことで当該会員に損害が生じた場合であっても、当社は、当該会員に対し、損害賠償の責任を一切負わないものとします。</li>
                <li>前条2項及び3項の規定は、強制退会の場合について、準用します。</li>
              </ol>




              <h3>第6章 サービスの停止・終了</h3>

              <h6>第23条 (本サービスの停止)</h6>
              <ol type="1">
                <li>当社は、次の各号のいずれかに該当する事由が発生した場合、会員に対する事前の通知なく、本サービスの提供を一時的に停止することができるものとします。ただし、本サービスの提供を一時的に停止することが事前に決まっている場合、当社は、本サイト上で中断の日時等を予め告知するものします。</li>
                <br>
                <ol type="a">
                  <li>サーバ、システム等の保守・点検を行う場合</li>
                  <li>サーバ、システム等に障害・不具合が発生した場合</li>
                  <li>火災、停電等により本サービスの提供が困難となった場合</li>
                  <li>地震、噴火、洪水、津波等の天災により本サービスの提供が困難となった場合</li>
                  <li>戦争、動乱、暴動、騒乱、労働争議等により本サービスの提供が困難となった場合</li>
                  <li>前各号のほか、当社が本サービスの提供を一時的に中断する必要があると判断した場合</li>
                </ol>
                <li>当社が前項に基づき本サービスの提供を一時的に停止したことで会員に損害が発生した場合であっても、当社は、当該会員に対し、損害賠償の責任を一切負わないものとします。</li>
              </ol>


              <h6>第24条 (本サービスの終了)</h6>
              <ol type="1">
                <li>当社は、本サイト上で1週間前までに告知することにより、本サービスの提供を終了することができるものとします。但し、やむを得ない事由がある場合、当社は、事前の告知なく、即時に本サービスの提供を終了することができるものとします。</li>
                <li>当社が本サービスの提供を終了した場合、それ以前に利用者会員と施術者会員との間で成立していた未履行の施術契約はキャンセルされたものとみなします。</li>
                <li>当社が第1項に基づき本サービスの提供を終了したことで会員に損害が発生した場合であっても、当社は、当該会員に対し、一切の責任を負わないものとします。</li>
              </ol>


              <h3>第7章 免責</h3>

              <h6>第25条 (免責事項)</h6>
              <ol type="1">
                <li>当社は、本サイト上で表示される情報の正確性を保証するものではありません。本サイト上で表示される情報が正確ではなかった場合でも、当社は、一切の責任を負わないものとします。</li>
                <li>当社は、施術者会員の能力、技術レベル等に関する保証をするものではありません。施術者会員の能力、技術レベル等が利用者会員の求める水準に達していなかった場合であっても、当社は一切の責任を負わないものとします。</li>
                <li>当社は、本サービスのシステムの完全性を保証するものではありません。本サービスのシステムに不具合、バグ等が生じた場合であっても、当社は一切の責任を負わないものとします。</li>
                <li>当社は、施術者会員による施術契約の履行を保証するものではありません。施術者会員が施術契約に基づく訪問美容サービスの提供を怠った場合又は適切に提供しなかった場合であっても、当社は一切の責任を負わないものとします。</li>
                <li>当社は、利用者会員から施術者会員に対する施術料、訪問料等の支払いを保証するものではありません。利用者会員が施術者会員に対する施術料、訪問料等の支払いを怠った場合であっても、当社は一切の責任を負わないものとします。</li>
                <li>当社は、会員の身元、人格等を保証するものではありません。訪問美容サービスの提供時に暴行、傷害、窃盗、恐喝、強盗、強制わいせつ、強姦その他の犯罪行為が行われた場合であっても、当社は一切の責任を負わないものとします。</li>
                <li>当社は、施術者会員による訪問美容サービスの提供時において、所有物の汚損、破損、滅失等の事故、薬剤によるアレルギー症状の発症、施術による傷害その他何らかの問題が生じた場合であっても、一切の責任を負わないものとします。</li>
                <li>当社は、施術者会員の提供する訪問美容サービスの適法性を保証するものでありませ ん。施術者会員が本サービスを通じて違法な訪問美容サービスを提供した場合であっても、当社は一切の責任を負わないものとします。</li>
              </ol>

              <h6>第26条 (情報提供)</h6>
              <ol type="1">
                <li>当社は、警察、検察、裁判所、弁護士会その他公的な機関から正当な方法で会員に関する情報の提供を求められ、その理由が正当であると判断した場合、当該機関に対し、会員に関する情報を提供することがあります。</li>
                <li>会員は、当社が前項に基づき情報を提供したことで損害又は不利益を被った場合であっても、当社に対し、一切の責任を追及することができないものとします。</li>
              </ol>


              <h3>第8章 雑則</h3>

              <h6>第27条 (反社会的勢力の排除)</h6>
              <p>会員は、当社に対し、現在及び将来において、次の各号に掲げる者には該当しないことを表明し、保証するものとします。</p>
              <ol type="a">
                <li>暴力団、暴力団員、暴力団員でなくなった時から 5 年を経過しない者、暴力団準構成 員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等その他これらに準ずる者(以下総称して「反社会的勢力」といいます。)</li>
                <li>反社会的勢力が経営を支配していると認められる者</li>
                <li>反社会的勢力が経営に実質的に関与していると認められる者</li>
                <li>自己若しくは第三者の不正の利益を図る目的又は第三者に損害を加える目的をもってする等、不当に反社会的勢力を利用していると認められる者</li>
                <li>反社会的勢力に対して資金等を提供し、又は便宜を供与する等の関与をしていると認められる者</li>
                <li>前各号のほか、反社会的勢力と社会的に非難されるべき関係を有する者</li>
              </ol>

              <h6>第28条 (個人情報)</h6>
              <p>当社は、会員の個人情報について、本サイト上に掲載するプライバシーポリシーに従って取り扱うものとします。</p>

              <h6>第29条 (事業譲渡等)</h6>
              <p>当社が第三者に対して本サービスの運営に係る事業を譲渡した場合、当社は、会員による個別の承諾を得ることなく、当該第三者に対し、本サービス上の当社の地位及び本サービスに関する当社の権利義務を移転させることができるものとします。</p>

              <h6>第30条 (基準時刻)</h6>
              <p>本サービスの提供にあたって基準となる時刻は、当社のサーバ内で管理されている時刻が基準となります。</p>

              <h6>第31条 (分離可能性)</h6>
              <p>本規約の一部が無効な場合であっても、適用可能な条項については有効なものします。</p>

              <h6>第32条 (誠実協議)</h6>
              <p>本規約に定められていない事項又は本規約の条項の解釈に相違のある事項が生じた場合、当社と会員との間で誠実に協議し、その解決に努めるものとします。</p>

              <h6>第33条 (準拠法・管轄裁判所)</h6>
              <ol type="1">
                <li>本規約は日本法に基づき解釈されるものとします。</li>
                <li>当社と会員との間で本サービスに関する紛争が発生した場合、訴額に応じて東京簡易裁判所又は東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
              </ol>


              <p>以上</p>
              <p>令和2年10月7日制定 </p>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->

    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>
    
  </body>
</html>