            <div class="text-block">
              <div class="row">
                <div class="col">
                  <h6>施術完了</h6>
                </div>
                <div class="col align-self-center">
                  <p class="text-end d-print-none"><%= link_to room_path, class:"btn btn-link text-muted" do %>
                    <i class="far fa-file me-2"></i>チャットを開く</p>

                    
                  <% end %>
                </div>
              </div>
            </div>